<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @admin_welcome.index %>
</p>

<%= link_to 'Edit', edit_admin_welcome_path(@admin_welcome) %> |
<%= link_to 'Back', admin_welcomes_path %>
